page-checks-modal {
    ion-label {
        text-align: left;
        font-size: 2rem !important;
        font-weight: bold;
        color: black !important;
    }

    .note {
        font-size: 1.5rem !important;
        font-weight: bold;
        color: brown !important;
        white-space: pre-wrap;
    }
}
