<!--
  Generated template for the ConsumeModalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar color="secondary">
          <ion-title><span class="custom-font-size">Introducir Consumos</span></ion-title>
          <ion-buttons end>
              <button ion-button (click)="closeModal()">
                  Atrás
              </button>
          </ion-buttons>
        </ion-navbar>
</ion-header>


<ion-content padding>
    <ion-title><span class="custom-font-size">{{line.product_name}}</span></ion-title>
    
    <ion-list>
        <ion-item *ngIf="(mode !== 'show')">
            <ion-label color="primary" stacked><span>Cantidad en {{line.uom_name}}</span></ion-label>
            <ion-input type="number"  [(ngModel)]="line.qty" required name='qty' placeholder="Introducir cantidad"></ion-input>
        </ion-item>
        <ion-item *ngIf="(mode !== 'show')">
            <ion-label color="primary" stacked><span>Lote</span></ion-label>
            <ion-input type="text" [(ngModel)]="line.lot_name" required name='lot'  placeholder="Introducir lote" readonly></ion-input>
        </ion-item>
    </ion-list>
    <button  *ngIf="mode !== 'show' && line.type !== 'out' " ion-button full color= "secondary"(click)="showLots()">
            Ver lotes
    </button>
    <ion-searchbar *ngIf="mode == 'show'" (ionInput)="getItems($event)"></ion-searchbar>
    <ion-list *ngIf="mode === 'show'"> 
         <button ion-item *ngFor="let lot of items" (click)="lotSelected(lot)">
            {{ lot.name }}
        </button>  
    </ion-list> 

    <button ion-button block (click)="confirmModal()">Confirmar</button>  
    <button ion-button block (click)="removeLine()" color="danger">Eliminar</button>  
</ion-content>
