<!--
  Generated template for the TreepickPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  
  <ion-navbar color="primary">
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>{{ pick['name']}} [{{ pick['remaining_ops'] }} / {{pick['pack_operation_count']}}]</ion-title>
      <ion-buttons end>
          <button ion-button item-end (click)="infopick(true)" *ngIf="!info_pick">
              <ion-icon name="document"></ion-icon>              
          </button>
          <button ion-button item-end (click)="infopick(false)" *ngIf="info_pick">
              <ion-icon name="list-box"></ion-icon>              
          </button>
      </ion-buttons>
  </ion-navbar>        
  <!--ion-item no-lines class='noPadding'>   show_in_PDA
    <ion-label class='noPadding' color="primary"> {{ pick.picking_type_id_name}} </ion-label>
  </ion-item-->
  
  <ion-item-group *ngIf="!cargar && info_pick">
    <ion-item no-lines>
        <ion-label color='operations'>{{pick.user_id && pick.user_id.name || "Usuario" }} </ion-label>
        <button ion-button item-end (click)="doAssign(pick.id, false)" [hidden]='!pick.user_id' color='odoo'>Liberar</button>
        <button ion-button item-end (click)="doAssign(pick.id, true)" [hidden]='pick.user_id' color='odoo'>Asignar</button>
      <!--ion-badge item-start (click)="doAssign(pick.id, false)" [hidden]='!pick.user_id' color='odoo'>Liber</ion-badge>
      <ion-badge item-start (click)="doAssign(pick.id, true)" [hidden]='pick.user_id' color='odoo'>Asignar(me)</ion-badge-->  
    </ion-item>

    <ion-item no-lines>
        <ion-label color='operations'>
            Operaciones
        </ion-label>
        
        <!--button ion-button item-end outline (click)="reorder_picks()" color='odoo' >Reordenar</button-->
        <ion-select [(ngModel)]="whatOps" interface="popover" (ionChange)='seeAll2'>
            <ion-option value="Todas">Todas</ion-option>
            <ion-option value="Pendientes">Pendientes</ion-option>
            <ion-option value="Realizadas">Realizadas</ion-option>
        </ion-select>
        <button ion-button color ="odoo" item-end (click)="reorder_picks()">
            <ion-icon name="shuffle"></ion-icon>              
        </button>
        <!--button ion-button item-end outline (click)="seeAll()" color='odoo' >{{whatOps}}</button-->
        <!--ion-badge item-start (click)="reorder_picks()" color='odoo' >Reordenar</ion-badge>
        <ion-badge item-start (click)="seeAll()" color='odoo' >{{whatOps}}</ion-badge-->
    </ion-item>
    
    <ion-item no-lines>
        <ion-label color='operations'>
            Acciones
        </ion-label>
      <button ion-button item-end (click)="doPreparePartial(pick.id)" [hidden]='pick.pack_operation_count != 0' color='odoo'>Preparar</button>
      <button ion-button item-end (click)="ask_doTransfer(pick.id)" [hidden]='pick.pack_operation_count == 0 || pick.state == "done" || (pick.pack_operation_count == pick.remaining_ops)' color='odoo'>Validar</button>
      <!--ion-badge item-start (click)="doTransfer(pick.id)" [hidden]='pick.pack_operation_count == 0 || pick.state == "done" || (pick.pack_operation_count == pick.remaining_ops)' color='odoo'>Validar</ion-badge>
      <ion-badge item-start (click)="doPreparePartial(pick.id)" [hidden]='pick.pack_operation_count != 0' color='odoo'>Preparar</ion-badge-->
    </ion-item>
    <ion-item no-lines>    
      <ion-badge item-start class="w50" color="light" (click)="openLocation(pick.location_id && pick.location_id.id)">
        {{pick['location_id'] && pick.location_id.name}}
      </ion-badge>       
      <ion-badge item-start color="light" class="w50" (click)="openLocation(pick.location_dest_id && pick.location_dest_id.id)">
        {{ pick['location_dest_id'] && pick.location_dest_id.name}}
      </ion-badge>   
    </ion-item>
    <ion-item no-lines>    
      <ion-badge item-start color="light" class="w100">
        Pendientes {{ pick.remaining_ops}} de {{ pick.pack_operation_count}}
      </ion-badge>   
    </ion-item>
    <ion-item no-lines color="primary">    
      <ion-label>
        {{model == "stock.picking" && "Albarán: " + pick.state.name || "Agrupación: " + pick.picking_state.name}}
      </ion-label>
    </ion-item>
    
    
  </ion-item-group> 
</ion-header>

<ion-content nopadding>
  <div *ngIf="cargar" style="text-align: center" no-lines >    
    <ion-spinner name="circles"></ion-spinner><br>
    <b>Cargando...</b>
  </div>
   
  <ion-list *ngIf="pick && !cargar && !info_pick" class="all0">
    <stock-operation *ngFor="let item of pick.pack_operation_ids; let i = index" [stock_operation]="item" [pick] = 'pick' [whatOps]="whatOps" (notify) = "doOp(i, item.id, $event)"
        [hidden]="whatOps=='Pendientes' && item.pda_done || whatOps=='Realizadas' && !item.pda_done">
    </stock-operation>
  </ion-list>
   

  </ion-content>
  <ion-footer>
      <form [formGroup]="treeForm" class ="alignBottom">
     <ion-item  >
        <ion-label color="odoo" item-start>Scan: </ion-label>
        <ion-input #scanPackage [formControl]="treeForm.controls['scan']" type="text" name="scan" placeholder = "Scan"  autofocus></ion-input>
       
        <button ion-button icon-only item-end clear (click)="submitScan()">
          <ion-icon name="barcode"></ion-icon>
        </button>
      </ion-item>   
    </form>
  </ion-footer>
      