page-consumptions {
    .col-content{
        font-size: 1.4rem !important;
    }
    .bold-header{
        font-size: 1.6rem !important;
        font-weight: bold;
    }

    ion-row{
        border-bottom: 1px solid #000;
    }
}
