page-alimentator-consumptions {
    .col-content {
        font-size: 1.2rem !important;
    }
    .bold-header {
        font-size: 1.4rem !important;
        font-weight: bold;
    }
    ion-row {
        border-bottom: 1px solid #000;
    }


    @media (min-width:600px) {
        .col-content {
            font-size: 1.2rem !important;
        }
        .bold-header {
            font-size: 1.4rem !important;
       }
    }
    ion-row:hover {
        background-color: lightyellow;
        border-color: black;
        cursor: pointer;
        }
}
