$primary-color: #A52A2A;

page-production {
    ion-card{
        --background-color: #8cd98c !important;
    }
    ion-card-header {
        text-align: left;
        font-size: 2vh !important;
        font-weight: bold;

    }
    ion-card-content {
        text-align: left;
        font-size: 2vh !important;
        font-weight: bold;

    }
    .info-tittle{
        --font-size: 2vh !important;
        font-weight: bold;
    }
    .info-content{
        color: $primary-color;
        font-size: 1.5vh !important;
    }
    .content-full{
        height: 100%;
        --border: solid 1px;
        overflow: hidden;
    }
    .content-one{
       height: 25%;
       --border: solid 1px;
       position: fized;
    }
    .content-two{
        height: 30%;
        --border: solid 1px;
    }
   .content-three{
        height: 55%;
        --border: solid 1px;
    }
    .my-hide {
        display: none;
        visibility: hidden;
    }
    .stop-timer{
        font-color: $primary-color;
    } 

}
