$primary-color: #A52A2A;

page-production {
    ion-card{
        --background-color: #8cd98c !important;
    }
    ion-card-header {
        text-align: left;
        font-size: 1.4em !important;
        font-weight: bold;

    }
    .info-tittle{
        font-size: 1em !important;
        font-weight: bold;
    }
    .info-content{
         color: $primary-color;
    }
    .content-full{
        height: 100%;
    }
    .content-one{
        height: 55%;
    }
    .content-two{
        height: 45%;
    }
    .my-hide {
        display: none;
        visibility: hidden;
    }
    .stop-timer{
        font-color: $primary-color;
    } 
}
