<!--
  Generated template for the ProductionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar color="primary">
        <button ion-button icon-only menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>

        <ion-title>Producción</ion-title>

        <ion-buttons end>
            <button ion-button (click)='logOut()'>
                <ion-icon name="log-out"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>


<ion-content padding>
     <ion-item [hidden]='workcenter' color ="danger"> No hay Línea seleccionda</ion-item>
<!--      <ion-item *ngIf="production"> Producción: {{production}}</ion-item>
     <ion-item *ngIf="product"> Producto: {{product}}</ion-item>
     <ion-item *ngIf="workcenter"> Centro Trabajo: {{workcenter}}</ion-item> -->

    <ion-card *ngIf="production">
        <ion-card-header>
            Producción
         </ion-card-header>
        <ion-card-content>
            {{production}}
        </ion-card-content>
    </ion-card>
    <ion-card *ngIf="product">
        <ion-card-header>
            Producto
         </ion-card-header>
        <ion-card-content>
            {{product}}
        </ion-card-content>
    </ion-card>
    <ion-card *ngIf="workcenter">
        <ion-card-header>
            Centro Trabajo
         </ion-card-header>
        <ion-card-content>
            {{workcenter}}
        </ion-card-content>
    </ion-card>

     <!-- <button ion-button block (click)="openModal()">Open Modal</button> -->

    <!-- PANTALA INICIAL-->
    <button ion-button full *ngIf="state == 'waiting'" (click)="confirmProduction()">
        
        Producción
    </button>
    <button ion-button full  color="secondary" *ngIf="state == 'waiting'" (click)="beginLogistics()">
        Logística
    </button>

    <!-- PANTALA 2-->
    <button ion-button full *ngIf="state == 'confirmed'" (click)="setupProduction()">
        Comenzar Preparación
    </button>

    <!-- PANTALA 3-->
    <button ion-button full *ngIf="state == 'setup'" (click)="startProduction()">
        Empezar Producción
    </button>
     <!-- PANTALA 4-->
    <button ion-button full *ngIf="state == 'started'" (click)="cleanProduction()">
        Finalizar Producción / Empezar Limpieza
    </button>
     <!-- PANTALA 5-->
    <button ion-button full *ngIf="state == 'cleaning'" (click)="finishProduction()">
        Finalizar Producción
    </button>

    <button ion-button full *ngIf="state == 'started'" (click)="stopProduction()">
        Parar Producción
    </button>
    <button ion-button full *ngIf="state == 'stoped'" (click)="restartProduction()">
        Reaunudar Producción
    </button>

</ion-content>
<ion-footer>
    <ion-item color ="primary">{{states[state]}}</ion-item>
</ion-footer>

