page-users-modal {
    ion-card {
        background-color: #8cd98c !important;
    }
    ion-card-header {
        text-align: left;
        font-size: 1.1em !important;
        font-weight: bold;
    }
    ion-card-content {
        color: $primary-color;
        font-size: 1em !important;
        text-align: center;
    }
    .button-size {
        font-size: 1.5vh !important;
    }
    ion-icon {
        font-size: 1.5vh !important;
    }
}
