<ion-header>
    <ion-navbar [color]="navbarColor">
        <ion-title text-center><span class="custom-font-size-t">Lista de producciones - {{ workcenter_name }}</span></ion-title>
        <ion-title text-center [ngSwitch]="mode">
            <span class="custom-font-size-t" *ngSwitchCase="'production'">Modo Producción</span>
            <span class="custom-font-size-t" *ngSwitchCase="'alimentator'">Modo Alimentador</span>
            <span class="custom-font-size-t" *ngSwitchDefault>Modo {{mode}}</span>
        </ion-title>
        
        <ion-buttons end>
            <button ion-button (click)='logOut()'>
                <ion-icon name="log-out"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <ion-searchbar class="custom-font-size" (ionInput)="getItems($event)"></ion-searchbar>
    <ion-list>
        <!-- <button class="custom-font-size" ion-item text-wrap *ngFor="let workline of items" (click)="worklineSelected(workline)"> -->
        <button class="custom-font-size" ion-item *ngFor="let workline of items" (click)="worklineSelected(workline)">
            <div class="review-font-color" *ngIf="(workline.review_consumptions === true); else default">
                <ion-icon name="send"></ion-icon> {{ workline.production_id[1] }} --> {{ workline.name }}
            </div>
            <ng-template #default>
                <ion-icon name="send"></ion-icon> {{ workline.production_id[1] }} --> {{ workline.name }}
            </ng-template>
        </button>  
    </ion-list>

</ion-content>
